.lgus{
    margin: 2rem 0;
    display: block;
    width: 100%;
    padding: 0;

    .lguResults{
        margin: 3rem -10px 0;
        display: flex;
        flex-wrap: wrap;    
    }
}

.lgu{
    width: 33.33333333333333%;
    padding: 0 10px;
    margin: 0 auto 2rem;

    .thumb {
        display: block;
        width: 100%;

        img{
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    .details{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;


        ul, ul li{
            margin: 0;
            padding: 0;
        }

        ul{
            li{
                list-style-type: none;
                display: block;
                width: 100%;
                margin: 0 0 0.5rem;
                text-align: left;

                .name{
                    font-size: 2.2rem;
                    line-height: 1.2;
                    font-weight: 400;
                }

                .sex{
                    font-size: 1.6rem;
                    line-height: 1;
                    font-weight: 400;
                }

                .addToCart{
                    margin: 2rem 0 0 0;
                }
            }
        }
    }
}