.admin {
  padding: 0 40px;

  .callToActions {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    ul, li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul {
      li {
        display: inline-block;

      }
    }

  }
}

.manageLgu {

  img{
    width: 30px;
    display: flex;
    margin: 10px 27px;
    cursor: pointer;
    position: relative;
  }

  h1 {
    margin-top: 1.5rem;
  }

  table.results {
    tr {

      &:nth-child(even) {
        background-color: #d3d3d3;
      }

      .thumb {
        width: 15.0rem;
        margin: 0 auto;
      }

    }
  }
}

@media only screen and (max-width: 980px) {
  .manageLgu {
    img {
    width: 30px;
    display: block;
    margin: 10px 25px;
    cursor: pointer;
    position: relative;
    }
    TableContainer {
      width: 100%;

      Table{
        width: 100%;
      }

      TableHead{
        width: 100%;
      }

      TableCell{
        width:100%
      }

      .results {
        width: 100%;

        tr td {
          display: block;
          width: 100%;

         
        }
      }
    }
  }
}